.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInDown{
  from{
    opacity: 1;
    transform: none;
  }
  to{
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}
.fadeInDown{
  animation-name: fadeInDown;
}